<div class="form-container" id="admin-form">
    <form id="form" action="/admin" method="POST" id="form">
        <h2>Login</h2>
    <div>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="obiwan">
        
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="thatsnomoon">
        </div>
        <button>Sign in</button>
    </form>
</div>