<form id="form" action="/signup" method="POST">
  <label for="username">Username</label><br>
  <input type="text" name="username" placeholder="Your username">

  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="********">
  
  <label for="name">Store Name</label><br>
  <input type="text" name="name" placeholder="Name of your store">

  <label for="CIF">CIF</label><br>
  <input type="text" name="CIF" placeholder="Your Store's CIF Number">

  <label for="location">Address</label><br>
  <input type="text" name="location" placeholder="Your Store's Address">
  <button type="submit">Create account</button>
</form>