<section class="menu">
    <a href="/profile"><div class="icon-menu"><i class="fas fa-user"></i></div><span>Perfil</span></a>
    <a href="/orders"><div class="icon-menu"><i class="fas fa-eye"></i></div><span>Ver Pedidos</span></a>
    <a href="/orders/new"><div class="icon-menu"><i class="fas fa-plus"></i></div><span>Nuevo Pedido</span></a>
</section>