<section class="admin-menu">
    <a href="/orders"><div class="icon-menu"><i class="fas fa-cart-arrow-down"></i></div></a>
    <div class="icon-menu"><i class="far fa-angry"></i></div>
    
    <div class="icon-menu"><i class="fas fa-cart-arrow-down"></i></div>
    <div class="icon-menu"><i class="fas fa-file-invoice-dollar"></i></div>

    <div class="icon-menu"><i class="fas fa-cart-arrow-down"></i></div>
    <div class="icon-menu"><i class="far fa-angry"></i></div>
</section>