<section class="admin-menu">

    <h1>Rutas</h1>
    <a href="/products">Productos</a>
    <a href="/orders">Pedidos</a>
    <a href="/logout">Logout</a>
    <a href="/orders"><div class="icon-menu"><i class="fas fa-cart-arrow-down"></i></div></a>
    <div class="icon-menu"><i class="far fa-angry"></i></div>
    
    <div class="icon-menu"><i class="fas fa-cart-arrow-down"></i></div>
    <div class="icon-menu"><i class="fas fa-file-invoice-dollar"></i></div>

    <div class="icon-menu"><i class="fas fa-cart-arrow-down"></i></div>
    <div class="icon-menu"><i class="far fa-angry"></i></div>
</section>