<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project-X</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <nav><h3>Gestion<span>app</span></h3>  <% if(currentUser) {%> <a href="/logout"><i class="fas fa-sign-out-alt"> logout</i></a> <% } %></nav>
  <%- include('../partials/notifications') %>
  
  <%- body %>
  <% if(currentUser) {
    if(admin){
      %>
      <%- include('../partials/adminMenu')%>
      <%
    }else {
      %>
      <%- include('../partials/storeMenu')%>
      <%
    }
  } %>
</body>
</html>