<div class="form-container" id="no-log">
  <form id="form" action="/profile/newPassword" method="post">
    <div class="title">
      <h2>Update</h2>
      <h2>Password</h2>
    </div>
    <div>
      <label for="old">Current password</label>
      <input type="password" name="old">
      <label for="newP">New password</label>
      <input type="password" name="newP">
      <label for="repeat">Repeat new password</label>
      <input type="password" name="repeat">
    </div>
    <button type="submit">Change password</button>
  </form>
</div>