<div class="form-container" id="no-log">
    <form id="form" action="/profile" method="post">
        <h2>Edit user</h2>
        <div>
            <label for="username">Name</label>
            <input type="text" name="username" value="<%= user.username %>"/>
            <label for="name" >Store Name</label>
            <input type="text" name="name" value="<%= user._store.name %>"/>
            <label for="location">location</label>
            <input type="number" name="location" value="<%= user._store.location %>" />
        </div>
        <div>
            <a href="/profile/newPassword">Change password</a>
        </div>
        <button type="submit">Update</button>
    </form>
</div>
