<h1>Orders</h1>
<ul>
  <% orders.forEach(order => { %>
    <li>Store: <%= order._store.name %>    Status: <%= order.status %> Created: <%= new Date(order.createdAt).toLocaleString() %></li>
  <% }) %>
</ul>