<div class="products">
 <section class="wrapper">
    <form action='/search' method='POST'>
      <input type="text" id="search" placeholder="Search.." name="search"><button id="btn" type="submit"><i class="fa fa-search"></i></button>
    </form>
    <section id="ul">
      <% products.forEach(product => {%>
        <div class="box ">
          <a id="view-product" href="/products/<%= product.id %>"><p><%= product.name %></p></a> 
          <div class="second-row"> <p><%= product.price %>€</p></div>
            <div class="admin third-row"><button id="<%= product.name %>" class="addToBuyList"><i class="fas fa-cart-plus"></i></button></div>
        </div>
      <% }) %>
    </section>
    <button id="buy">buy</button>
  </section>
</div>
<script src="/javascripts/productStore.js"></script>
